
.title{
    color:black;
    text-align: center;
}

.back{
    background-color:  rgb(127, 253, 8);
}
.move{
    background-color:  rgb(127, 253, 8);
}
.table{
    margin-left: 100px;
    padding-left: 215px;
}
.picture{
    background-color: rgb(127, 253, 8);
    text-align: center;
}
.picture img{
    background-color: rgb(127, 253, 8);
    margin-bottom: 20px;
    padding-left: 11%;
    text-align: center;
}

.inner{
    text-align: center;
}

.upper{
    margin-left: 30px;
}

.top{
    margin-left: 30px;
}

.right{
    margin-left: 50px;
}
.done{
    padding-left: 11%;
}
.submitter{
    margin-bottom: 20px;
}